.photo-container {
    display: flex;
    justify-content: center;
    height: 230px;
    z-index: 2;
    position: relative;
}

.photo {
    border-radius: 100%;
    border: 10px solid rgba(129, 18, 129, 0.6);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}