<h1 id="title">Galeria</h1>

<div class="container">
    <div id="part1">
        <div class="photo1">
            <img src="../../../assets/profile.jpeg" width="200px">
            <div class="overlay1">
                <div class="text">Perfil</div>
            </div>
        </div>
        <div class="photo2">
            <img src="../../../assets/ISC.png" width="200px">
            <div class="overlay2">
                <div class="text">Habilidades</div>
            </div>
        </div>
        <div class="photo3">
            <img src="../../../assets/TEC_CUAUTLA.png" width="300px">
            <div class="overlay3 ">
                <div class="text">Formacion</div>
            </div>
        </div>
    </div>
    <div id="part2">
        <div class="photo"><img src="../../../assets/concursos.jpg" width="300px"></div>
        <div class="photo"><img src="../../../assets/proximamente.png" width="200px"></div>
    </div>
</div>