#title {
    text-align: center;
    color: aliceblue;
}

#part1 {
    display: flex;
    justify-content: space-between;

}

#part2 {
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;

}


.container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 180px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    margin: 1px solid red;
}

.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 580px;
    right: 0;
    height: 200px;
    width: 205px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    margin: 1px solid red;
}

.overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 79%;
    right: 0;
    height: 160px;
    width: 310px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    margin: 1px solid red;
}

.photo1:hover .overlay1 {
    opacity: 1;
}

.photo2:hover .overlay2 {
    opacity: 1;
}

.photo3:hover .overlay3 {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
}