.info-container {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 115px;
    z-index: 1;
}

.info {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    height: 360px;
    width: 70%;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

#nombre {
    position: absolute;
    top: 30%;
    color: darkslateblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;

}

#job {
    position: absolute;
    top: 45%;
    color: darkslateblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 20px;

}

#description {
    position: relative;
    top: 65%;
    color: darkslateblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 15px;
}