<div class="info-container">
    <div class="info">
        <h2 id="nombre">Efrain Juarez Mendoza</h2>
        <h3 id="job">
            Estudiante del Instituto Tecnologico de Cuautla
        </h3>
        <p id="description">Estudante de 8 semestre de la carrera de ingenieria en sistemas computacionales</p>
    </div>
</div>